*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 1170px;
  margin: 0 auto;
}
.row{
  height: 150px;

}
.row [class*="col-"]{
  background-color: pink;
  border: 1px solid black;
  height: 100%;
  position: relative;

}
.row [class*="col-"] span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% ,-50%);
  text-align: center;
}
.row .row{
  height:  100%;
  padding:  5px;
}
.row .row [class*="col-"]{
  background-color: purple;
  border: 1px solid white;
}
